<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartzhe.transaction.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.smartzhe.transaction.entity.User" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
  </resultMap>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id}
  </delete>

  <insert id="add" parameterType="com.smartzhe.transaction.entity.User" keyProperty="id"  useGeneratedKeys="true">

    insert into user ( name, birth_date,
    passwd, amount)
    values (#{name,jdbcType=VARCHAR}, #{birthDate,jdbcType=TIMESTAMP},
    #{passwd,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL})
  </insert>

</mapper>